.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*HEADER*/
.logo-img{
  color: yellow;
    font-size: 31px;
    margin: 15px 10px 10px 10px;;
}
.ant-layout-header{
  color: #ffff !important;
  font-size: 20px;
}
/**/
.column-head{
  font-family: auto;
    font-size: 19px;
    margin: 15px 0px 0px 0px;
    font-weight: 600;
}
.todomenu{
  border-right: 1px solid #ccc;
  height: 100vh;
  display: block !important;
}
.todosearch{
  margin: -6px 0px 0px 0px;
}
.todomenulist{
  width: 14.3em;
}
.todoaddrange{
  margin: 1em 1em 1em 0em;
  padding: 4px 5px 5px 5px;
  background: #d9d9d9;
}
.addicon{
  color: #fff;
    background: #26b447;
    font-size: 19px;
}
.todoboards{
  display: flex;
  height: 100vh; 
}
.todocolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todotask{
padding: 4px;
width: 17.5em;
min-height: 500px;
background: rgb(245 245 245) !important;
border-top: 3.5px solid #918c8c;
}
/*user cannot select it and copy text*/
.todoindividual{
  user-select: none;
   margin: 0px 0px 8px 0px;
  min-height: 50px;
  color: #1b1919;
  background-color: #f5f8f8 !important;
  border: 1px solid #a49f9f;
}
.todoindividual div:first-child{
  padding: 8px 0px 8px 8px;
  font-size: 15px;
  font-weight: 500;
  background-color: #f5f8f8 !important;
}
.todoindividual div:first-child:hover{
 text-decoration: underline;
 cursor: pointer;
}
.assigned{
  font-weight: 400;
  padding: 0px 0px 8px 8px;
  font-size: 13px;
}
.dot{
  height: 20px;
  width: 20px;
  background-color: #8a30ee;
  border-radius: 50%;
  display: inline-block;
  padding: 0px 0px 0px 6px;
  color: #ffff;
  margin-right: 5px;
  margin-top: 4px;
}
